* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: hsl(225deg 13% 94%);
  padding-inline: 1rem;
}

:root {
  --clr1: hsl(225deg 69% 59%);
  --clr2: hsl(158deg 75% 45%);
  --clr3: hsl(188deg 60% 51%);
  --clr4: hsl(43deg 91% 60%);
  --dull-clr: hsl(231deg 26% 89%);
  --text-b-clr: hsl(233deg 7% 55%);
  --bg-white: hsl(0deg 0% 100%);
}

.small-card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1rem;  
  border-radius: 0.5rem;
  background-color: var(--bg-white);

}

.small-card-label {
  font-size: 0.7rem;
  font-weight: 700;
}

.card-container{
  max-height: min-content;
}

.small-cards-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

}

.line-chart-container,.doughnut-chart-container{
  width:700px;
  border:2px solid black;
}

/* projetcs */
.projects-container{
  width: 500px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: .5rem;
  border: 2px solid green;
}


.project-container{
 
  display: flex;
  flex-direction: column; 
  gap: .5rem;
}
.label-container{
  display: flex;
  justify-content: space-between;
}

/* mediaqueries */

@media screen and (min-width: 768px) {
  .small-cards-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 900px) {
  .section-2 {
    grid-template-columns: 60% 39%;
  }
  .section-3 {
    grid-template-columns: 50% 50%;
  }

  .card-with-pic{
    grid-column: 2/3;
    grid-row-start:1;  
     
  }
 

}
@media screen and (min-width: 1200px) {
  .small-cards-container {
    grid-template-columns: repeat(4, 1fr);
  }
}




