* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: hsl(225deg 13% 94%);
  padding-inline: 1rem;
}

:root {
  --clr1: hsl(225deg 69% 59%);
  --clr2: hsl(158deg 75% 45%);
  --clr3: hsl(188deg 60% 51%);
  --clr4: hsl(43deg 91% 60%);
  --dull-clr: hsl(231deg 26% 89%);
  --text-b-clr: hsl(232deg 8% 38%);
  --bg-white: hsl(0deg 0% 100%);
}

.heading{
  color:  var(--text-b-clr);
  font-weight: 400;
  margin-block: 1rem;
}

.small-card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--bg-white);
}

.small-card-label {
  font-size: 0.7rem;
  font-weight: 700;
}

/* .number-container {
  display: flex;
  justify-content: center;
} */

.small-cards-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-block: 1rem;
}

.line-chart-container,.doughnut-chart-container{
  min-width:400px;
  border:2px solid black;
  
}

.card-head-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
}

.card-head{
  color:var(--clr1);
  font-weight: 700;
  padding: .7rem;
}


/* projetcs */
.projects-container{
  width: 500px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: .5rem;
  border: 2px solid green;
}


.project-container{
 
  display: flex;
  flex-direction: column; 
  gap: .5rem;
}
.label-container{
  display: flex;
  justify-content: space-between;
}


 .section-2{
    width: 100%;
  }

/* mediaqueries */

@media screen and (min-width: 768px) {
  .small-cards-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .small-cards-container {
    grid-template-columns: repeat(4, 1fr);
  }
}




