* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: hsl(225deg 13% 94%); 
}

:root {
  --clr-primary: hsl(225deg 69% 59%); 
  --clr-secondary: hsl(233deg 7% 55%);
  --clr-success: hsl(158deg 75% 45%);
  --clr-danger:hsl(354deg 70% 54%);
 --clr-info: hsl(188deg 78% 41%);
 --clr-warning: hsl(43deg 91% 60%);
 --clr-light:hsl(210deg 17% 98%);
 --clr-dark:hsl(210deg 10% 23%);
 --clr-white:hsl(0deg 0% 100%);
  --dull-clr: hsl(231deg 26% 89%);
   --bg-white: hsl(0deg 0% 100%);
}

.body-container{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.side-menu-container{  
  background-color: var(--clr-primary);
}
.side-bar-heading{
  color: rgba(255,255,255,.4);
  text-align: center;
  padding: 0 1rem;
  font-weight: 800;
  font-size: .65rem;
  text-transform: uppercase;
  margin-block: 0.3rem;
}

.nav-link{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: rgba(255,255,255,.6);
  padding: 1rem;
  /* border: 1px solid red; */
}
.nav-link:hover{
   color: rgba(255,255,255); 
  /* border: 1px solid red; */
}
.nav-link:active{
  color: rgba(255,255,255); 
 /* border: 1px solid red; */
}
.hr-divider{
  margin: .3rem ;
  border-top: 1px solid rgba(255,255,255,.15);
}
.dashboard-container{
  padding-inline: 1rem;
}
.heading {
  color: var(--clr-secondary);
  font-weight: 400;
  margin-block: 1rem;
}

.small-card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1rem;  
  padding: 1.5rem 1rem;  
  border-radius: 0.5rem;
  background-color: var(--bg-white);
}

.small-card-label {
  font-size: 0.7rem;
  font-weight: 700;  
}

.card-container{
  height: min-content;
}

.small-cards-container {
  display: grid;
  grid-template-columns: repeat( 1, 1fr) ;
  gap: 2rem;  
  }

.line-chart-container,
.doughnut-chart-container {
  min-width: 300px;  
  
}

.doughnut-chart-container>.card-body{
width: 70%;
margin-inline: auto;
margin-block: 2rem !important;
margin-bottom: 3rem;
}

.card-body{
  padding: 2rem;
}

.shadow {
  box-shadow:0 .15rem 1.75rem 0 rgba(58,59,69,.15);

}

/* .small-card-number{
  min-width: 150px;    
} */

.doughnut-chart-container>.card-body{
width: 70%;
margin-inline: auto;
margin-block: 2rem !important;
margin-bottom: 3rem;

}


.card-head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cfd6ec;
 padding-inline: 0.7rem;

}

.card-head {
  color: var(--clr-primary);
  font-weight: 700;
  padding: 0.7rem;
}

/* projetcs */
.projects-container { 
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* border: 2px solid green; */
  /* border: 2px solid green; */
}

.project-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.bar-container{
margin-bottom:0.8rem;
}

.bar-label,.bar-percent{
  color: var(--clr-secondary);
  font-size: 80%;
  font-weight: 600;
}



.label-container {
  display: flex;
  justify-content: space-between;
}

.section-2 {
  width: 100%;
  display: grid;
  gap: 1.2rem;
  margin-block: 1rem;  
}

.section-3 {
  width: 100%;
  display: grid;
  gap: 1.2rem;
}
.color-cards-container{
padding: 1rem;
  display: grid;
gap: 1.2rem;
}

/* cardwithpic */


.illustrations-card img{ 
  margin: 3% 10%;
  /* border: 2px solid red; */
}

.illustrations-card p{
  color: var(--clr-secondary);
  margin-bottom: .5rem;
}

.illustrations-card a{
  text-decoration: none; 
}

.small-card-number{
     width: 200px!important;
}


/* dropdown */
.drop-down-menu-icon{
  border: none;
  cursor: pointer;
}
.drop-down-menu{
  min-width: 180px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
}
.drop-down-header{
  text-transform: uppercase; 
    display: block;
    padding: 0.5rem 1.5rem;
    margin-bottom: 0;
    font-size: .875rem;
    color: #858796;
    white-space: nowrap;
}
.drop-down-item {
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
    font-weight: 400;
  color: #3a3b45;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  text-decoration: none;
}

.drop-down-divider {
  height: 0;
  margin: .5rem 0;
  overflow: hidden;
  border-top: 1px solid #d6dcf1;
}

.drop-down-item:hover {
font-weight: 700;
}


/* drop-down-card-menus */

.drop-down-card-menu {
  background-color: #4e73df;
  border: 1px solid #4e73df;
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: #fff;
  border-radius: 8px;
  z-index: 2;
}

.drop-down-card-header{
  text-align: center;
  padding-bottom: 12px;
}

.drop-down-card-item{
  display: flex; 
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem; 
  background-color: #fff;
  text-decoration: none!important;
 
}

.drop-down-card-item-image-w{
  width: 25%;
  position: relative;
  padding: 0.5rem; 
  /* border: 2px solid red; */

}

.drop-down-card-item-image{
width: 60px;
height: 60px;
border-radius: 50%;
object-fit: fill;
}

.status-indicator{
width: 10px;
height: 10px;
background-color: var(--clr-success);
border-radius: 50%;
position: absolute;
left: 50px;
bottom: 12px;
}
.drop-down-card-item-content{
  max-width: 200px;
  /* border: 2px solid red; */
}
.drop-down-card-item-title{
  font-weight: 700;
  color: var(--clr-dark);

}

.text-truncate{  
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.drop-down-card-item-sub-title{
  color:var(--clr-secondary)!important;
  font-size: 1rem;  
}

.drop-down-card-item-divider{
  height: 0;  
  overflow: hidden;
  border-top: 1px solid #d6dcf1;
}






/* mediaqueries */

@media screen and (min-width: 768px) {
  .small-cards-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 900px) {
  .section-2 {
    grid-template-columns: 60% 39%;
  }
  .section-3 {
    grid-template-columns: 50% 50%;
  }

  .card-with-pic{
    grid-column: 2/3;
    grid-row-start:1;  
     
  }
 

}

@media screen and (min-width: 1200px) {
  .small-cards-container {
    grid-template-columns: repeat(4, 1fr);
  }
}