* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: hsl(225deg 13% 94%);
  padding-inline: 1rem;
}

:root {
  --clr1: hsl(225deg 69% 59%);
  --clr2: hsl(158deg 75% 45%);
  --clr3: hsl(188deg 60% 51%);
  --clr4: hsl(43deg 91% 60%);
  --dull-clr: hsl(231deg 26% 89%);
  --text-b-clr: hsl(232deg 8% 38%);
  --bg-white: hsl(0deg 0% 100%);
}

.small-card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--bg-white);

}

.small-card-label {
  font-size: 0.7rem;
  font-weight: 700;
}

/* .number-container {
  display: flex;
  justify-content: center;
} */

.small-cards-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

}

/* mediaqueries */

@media screen and (min-width: 768px) {
  .small-cards-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .small-cards-container {
    grid-template-columns: repeat(4, 1fr);
  }
}