* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: hsl(225deg 13% 94%);
  padding-inline: 1rem;
}

:root {
  --clr1: hsl(225deg 69% 59%);
  --clr2: hsl(158deg 75% 45%);
  --clr3: hsl(188deg 60% 51%);
  --clr4: hsl(43deg 91% 60%);
  --dull-clr: hsl(231deg 26% 89%);
  --text-b-clr: hsl(233deg 7% 55%);
  --bg-white: hsl(0deg 0% 100%);
}

.heading {
  color: var(--text-b-clr);
  font-weight: 400;
  margin-block: 1rem;
}

.small-card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1rem;  
  border-radius: 0.5rem;
  background-color: var(--bg-white);
}

.small-card-label {
  font-size: 0.7rem;
  font-weight: 700;
}

.card-container{
  max-height: min-content;
}

.small-cards-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;  
}

.line-chart-container,
.doughnut-chart-container {
  min-width: 300px;  
  
}

.doughnut-chart-container>.card-body{
width: 70%;
margin-inline: auto;
margin-block: 2rem !important;
margin-bottom: 3rem;

}

.card-body{
  padding: 2rem;
}

.shadow {
  box-shadow:0 .15rem 1.75rem 0 rgba(58,59,69,.15);

}

.card-head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cfd6ec;
 padding-inline: 0.7rem;
}

.card-head {
  color: var(--clr1);
  font-weight: 700;
  padding: 0.7rem;
}

/* projetcs */
.projects-container { 
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* border: 2px solid green; */
}

.project-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.bar-container{
margin-bottom: 0.5rem;
}

.bar-label,.bar-percent{
  color: var(--text-b-clr);
  font-size: 80%;
  font-weight: 600;
}

.label-container {
  display: flex;
  justify-content: space-between;
}

.section-2 {
  width: 100%;
  display: grid;
  gap: 1.2rem;
  margin-block: 1rem;  
}

.section-3 {
  width: 100%;
  display: grid;
  gap: 1.2rem;
}
.color-cards-container{
padding: 1rem;
  display: grid;
gap: 1.2rem;
}

/* cardwithpic */
.illustrations-card{
  
}

.illustrations-card img{ 
  margin: 3% 10%;
  /* border: 2px solid red; */
}

.illustrations-card p{
  color: var(--text-b-clr);
  margin-bottom: .5rem;
}

.illustrations-card a{
  text-decoration: none; 
}


/* mediaqueries */

@media screen and (min-width: 768px) {
  .small-cards-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 900px) {
  .section-2 {
    grid-template-columns: 60% 39%;
  }
  .section-3 {
    grid-template-columns: 50% 50%;
  }

  .card-with-pic{
    grid-column: 2/3;
    grid-row-start:1;  
     
  }
 

}
@media screen and (min-width: 1200px) {
  .small-cards-container {
    grid-template-columns: repeat(4, 1fr);
  }
}